<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  {% feed_meta %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="http://katiejolly.io">home</a></li>
          <li><a href="{{ site.baseurl }}/">posts</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. The code for this site lives <a href="https://github.com/katiejolly/blog">here</a>.
      </span>
    </footer>
  </body>
</html>
